@import "bootstrap.less";
@import "container.less";
@import "baseline.less";

@backgroundColor: lightgray;

.logs {
    font-size: @baseFontSize - 3; // 14px to 12px
    line-height: normal;
    overflow-y: scroll;
    display: table;
    width: 100%;
    div.entry {
        display: table-row;

        &.error {
            background-color: #ffb6c1;
        }
        &.warning {
            background-color: #ffffe0;
        }
        div {
            padding-bottom: 3px;
            vertical-align: bottom;
            display: table-cell;
            border-bottom: solid 1px #808080;
            &.timestamp {
                min-width: 68px;
                text-align: center;
            }
            &.level, &.host, &.app {
                padding-right: 3px;
            }
            &.message {
                width: auto;
            }
        }
    }
}