@import "bootstrap.less";
@import "container.less";
@import "baseline.less";

@backgroundColor: lightgray;

.logs {
    font-size: @baseFontSize - 2; // 14px to 12px
    word-break: break-all;
    word-wrap: break-word;
    overflow-y: scroll;
    display: table;
    width: 100%;
    div {
        display: table-row;
        padding-bottom: 3px;

        &.error {
            background-color: #ffb6c1;
        }
        &.warning {
            background-color: #ffffe0;
        }
        div {
            padding-right: 5px;
            display: table-cell;
            &.message {
                width: auto;
            }
        }
    }
}